.layout {
	padding-top: calc(calc(1vh + 1vw) * 1.15);
	background-color: #f8f3ed;
	border-radius: 20px;
	width: calc(calc(1vh + 1vw) * 55);
}

.header {
	@apply flex items-center justify-between;
	padding: 0 calc(calc(1vh + 1vw) * 2);
	margin-bottom: calc(calc(1vh + 1vw) * 1.15);
}

.main {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: calc(calc(1vh + 1vw) * 1.15) calc(calc(1vh + 1vw) * 2);
}
