.nav_header {
	display: flex;
	align-items: center;

	> a {
		display: flex;
		gap: 8px;
	}
}

.books {
	position: relative;
	padding: 10px 30px;
	border-radius: 50px;
	background-color: #daaa63;
}

.audio {
	padding: 10px 15px;
	border-radius: 50px;
}

.audio:hover {
	color: #daaa63;
	transition: color 0.5s;
	padding: 10px 15px;
}
