.auth {
	padding-top: calc(calc(1vh + 1vw) * 1.15);
	padding-bottom: calc(calc(1vh + 1vw) * 1.15);
	background-color: #f8f3ed;
	border-radius: 20px;
	width: calc(calc(1vh + 1vw) * 60);
	display: flex;
	justify-content: center;

	> form {
		width: 300px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		padding: 30px;
		border: 1px solid #452;
		background-color: #879;

		> input {
			padding: 8px 15px;
			outline: none;
			border-radius: 50px;
		}

		> button {
			border-radius: 50px;
			border: 1px solid #000;
			background-color: #000;
			color: #fff;
			padding: 7px 15px;
		}
	}
}
