@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Montserrat:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--index: 1vh + 1wh;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	padding-top: calc(calc(1vh + 1vw) * 1.15);
	padding-bottom: calc(calc(1vh + 1vw) * 1.15);
	background: #f2e4cf;
	color: #2c1810;
	font-family: 'Montserrat', sans-serif;
}
